{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Категорії</title>
  <link rel="stylesheet" href="cats.css">
</head>
<body class="categories">
  <div class="div">Які категорії Вас цікавлять?</div>

  <div class="card">
    <div class="div2">Екіпірування</div>
  </div>

  <div class="card2">
    <div class="div2">Медична допомога</div>
  </div>

  <div class="card3">
    <div class="div2">Транспорт та логістика</div>
  </div>

  <div class="card4">
    <div class="div2">Техніка та обладнання</div>
  </div>

  <div class="card5">
    <div class="div2">Допомога тваринам</div>
  </div>

  <div class="submit-enter">
    <div class="div4">ПІДТВЕРДИТИ</div>
  </div>

</body>
</html>
