{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Page</title>
    <link rel="stylesheet" href="eneter_style.css">
</head>
<body>
    <div class="enter">
        <div class="body">
            <div class="div">ЛАСКАВО ПРОСИМО!</div>
            <div class="div2">ДОВІРЯЙ, АЛЕ ПЕРЕВІРЯЙ!</div>
            <div class="div3">або</div>
            <div class="line-1"></div>
            <div class="line-2"></div>
            <a href='signup.html' class="register-button">
                <div class="div4">ЗАРЕЄСТРУВАТИСЯ</div>
            </a>
            <a href="signin.html" class="enter-button">
                <div class="div5">УВІЙТИ</div>
            </a>
        </div>
        <div class="nav-bar-white">
            <div class="rectangle-1"></div>
            <div class="_3-d-avatars-14">
                <img class="avatars-3-d-avatar-14" src="14.png" />
            </div>
            <img class="navigate-before" src="navigate_before.png" />
            <div class="div7">СТВОРИТИ ЗБІР</div>
            <div class="div8">ЗВІТИ</div>
            <div class="div9">ПРО НАС</div>
            <div class="div10">ЗАДОНАТИТИ</div>
            <div class="dovir">DOVIR</div>
            <div class="rectangle-2"></div>
            <div class="group-18">
                <div class="group-8">
                    <div class="rectangle-3"></div>
                    <div class="ua">UA</div>
                </div>
                <div class="en">EN</div>
            </div>
            <img class="white-map" src="white-map0.png" />
            <img class="white-handshake" src="white-handshake0.png" />
        </div>
    </div>
</body>
</html>
